/* Navbar */
.navbar-home {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 9999;
}
.navbar-home-logo {
  font-size: 3rem;
  margin-left: 3%;
  color: #ffffef;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.navbar-nav-home a {
  margin-right: 4rem;
  color: #ffffef;
  font-size: 1.5rem;
}

.hamburger-menu {
  color: white;
}

/* Jumbotron */
.jumbotron {
  height: 55vh;
  display: flex;
  align-items: flex-end;
  background: url(../../assets/Home/Jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search-bar {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #ffffef;
}

form {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 2px;
  border-radius: 20px;
  width: 100rem;
  height: 5rem;
  border-radius: 5px;
}

input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  background: slategray
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  opacity: 1;
}

/* Popular Section */
.popular-title {
  color: white;
  font-size: 3.5rem;
}

.popular {
  text-align: center;
}

.poster-card {
  width: 212px;
  height: 268px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  background-color: #ffffef;
}

.poster-img img {
  width: 100%;
  height: 100%;
}

.poster-title {
  color: #ffffef;
}

/* Media queries */

/* Mobile */
@media (max-width: 659px) {
  html {
    font-size: 55%;
  }

  /* Navbar */
  .navbar-nav-home {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
  }

  .navbar-nav-home.active {
    display: inline-block;
    width: 20rem;
    right: 0;
  }

  .navbar-nav-home.active a {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    font-size: 3rem;
    color: black;
  }

  /* Jumbotron */
  .jumbotron {
    width: 100%;
    height: 40rem;
  }

  form {
    width: 75%;
    height: 4rem;
  }

  input[type="search"] {
    font-size: 2rem;
  }

  /* Popular Section */
  .popular-title {
    text-align: center;
  }
}

/* Tablet */
@media (min-width: 660px) {
  html {
    font-size: 62.5%;
  }
  /* Navbar */
  .hamburger-menu {
    display: none;
  }

  /* Jumbotron */
  form {
    width: 75%;
    height: 4rem;
  }

  /* Popular Section */
  .popular-title {
    margin-left: 3rem;
  }
  .popular {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

/* Medium */
@media (min-width: 768px) {
  .popular {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}
