html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

/* Navbar */
.navbar-home {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 9999;
}

.navbar-home-logo {
  font-size: 3rem;
  margin-left: 3%;
  color: #ffffef;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.navbar-nav-home a {
  margin-right: 4rem;
  color: #ffffef;
  font-size: 1.5rem;
}

.hamburger-menu {
  color: white;
}

/* Jumbotron */
.jumbotron {
  height: 55vh;
  display: flex;
  align-items: flex-end;
  background: url(../../assets/Home/Jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.search-bar {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #ffffef;
}

form {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 2px;
  border-radius: 20px;
  width: 100rem;
  height: 5rem;
  border-radius: 5px;
}

input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="button"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  opacity: 1;
}

/* Popular Section */
.popular-title,
.search-title {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.popular,
.results {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.poster-card,
.results-poster-card {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.poster-img img,
.results-poster-img img {
  width: 100%;
  height: 100%;
}

.poster-title,
.results-poster-title {
  text-align: center;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-body {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
}

.close svg {
  width: 2rem;
  float: right;
}

.modal-content img {
  width: 100%;
}

.list-group-item {
  margin-bottom: 2rem;
}

.list-group-item:nth-child(1) {
  font-size: 10px;
}

.list-group-item:nth-child(2),
.list-group-item:nth-child(3),
.list-group-item:nth-child(4),
.list-group-item:nth-child(5) {
  font-size: 1.9rem;
}

/* Media queries */

/* Mobile */
@media (max-width: 700px) {
  html {
    font-size: 55%;
  }

  /* Navbar */
  .navbar-nav-home {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
  }
  .navbar-nav-home.active {
    display: inline-block;
    width: 20rem;
    right: 0;
  }
  .navbar-nav-home.active a {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    font-size: 2.5rem;
    color: black;
  }

  /* Jumbotron */
  .jumbotron {
    width: 100%;
    height: 40rem;
  }
  form {
    width: 75%;
    height: 4rem;
  }
  input[type="search"] {
    font-size: 2rem;
  }
}

/* Tablet */
@media (min-width: 700px) {
  /* Navbar */
  .hamburger-menu {
    display: none;
  }

  /* Jumbotron */
  form {
    width: 75%;
    height: 4rem;
  }

  /* Popular Section */
  .popular-title,
  .search-title {
    margin-left: 3rem;
  }
  .popular,
  .results {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .poster-card,
  .results-poster-card {
    width: 15rem;
  }
}

/* Medium */
@media (min-width: 768px) {
  .popular,
  .results {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
  }
  .modal-content {
    display: flex;
  }
  .list-group-item:nth-child(1) {
    font-size: 1rem;
  }
  .list-group-item:nth-child(2),
  .list-group-item:nth-child(3),
  .list-group-item:nth-child(4),
  .list-group-item:nth-child(5) {
    font-size: 1.2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* Popular section */
  .popular-title,
  .search-title {
    text-align: start;
  }
  .poster-card,
  .results-poster-card {
    width: 15rem;
  }

  /* Modal */
  .modal-content {
    display: flex;
  }
  .list-group-item:nth-child(1) {
    font-size: 1.5rem;
  }
  .list-group-item:nth-child(2),
  .list-group-item:nth-child(3),
  .list-group-item:nth-child(4),
  .list-group-item:nth-child(5) {
    font-size: 1.5rem;
  }
}
