html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.false-res {
  margin-left: 3rem;
  color: red;
}

/* Navbar */
.navbar-home {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 9999;
}

.navbar-home-logo {
  font-size: 3rem;
  margin-left: 3%;
  color: #ffffef;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.navbar-nav-home a {
  margin-right: 4rem;
  color: #ffffef;
  font-size: 1.5rem;
}

.hamburger-menu {
  color: white;
}

/* Jumbotron */
.jumbotron {
  height: 20rem;
  display: flex;
  align-items: flex-end;
  background: url(../../assets/Home/Jumbotron.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 2px;
  border-radius: 20px;
  width: 50rem;
  height: 3.5rem;
  border-radius: 5px;
}

input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding-left: 5rem;
  padding-right: 2rem;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: slategray;
}

button[type="button"] {
  overflow: hidden;
  width: 40px;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  opacity: 1;
}

/* Popular Section */
.popular-title,
.search-title {
  margin-left: 2rem;
  color: white;
  text-align: start;
  font-size: 2.5rem;
}

.popular,
.results {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.poster-card,
.results-poster-card {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.poster-img,
.results-poster-img {
  width: 100%;
  height: 100%;
}
.poster-img img,
.results-poster-img img {
  width: 100%;
  height: 100%;
}

.poster-title,
.results-poster-title {
  font-size: 20px;
  text-align: center;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-body {
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content {
  display: flex;
}
.modal-content img {
  width: 15rem;
}
.close svg {
  width: 2rem;
  float: right;
}

.list-group-item {
  margin-bottom: 2rem;
  font-size: 1rem;
}

/* Footer */
.footer {
  width: 100%;
  background-color: slategray;
}
.footer-main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 15rem;
}
.footer h1 {
  font-size: 4rem;
}
.footer-socmed-title {
  text-align: center;
}
.footer-socmed-list {
  text-align: ce;
  display: flex;
}
.footer-socmed-list li {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  color: white;
}
.footer-socmed-list li a {
  display: inline-block;
  color: white;
}
.footer-socmed-list li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.footer-socmed-list li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer-copyright {
  width: 90%;
  height: 2rem;
  margin: 0 auto;
  padding: 5px;
}
.footer-copyright div {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: black;
  color: black;
}
.footer-copyright p {
  text-align: center;
}

/* Mobile */
@media (max-width: 640px) {
  /* Navbar */
  .navbar-nav-home {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
  }
  .navbar-nav-home.active {
    display: inline-block;
    width: 20rem;
    right: 0;
  }
  .navbar-nav-home.active a {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    font-size: 2.5rem;
    color: black;
  }

  /* Jumbotron */
  .jumbotron {
    height: 40rem;
  }
  form {
    width: 75%;
    height: 4rem;
  }
  input[type="search"] {
    font-size: 2rem;
  }

  /* Popular */
  .popular-title,
  .search-title {
    text-align: center;
  }

  /* Poster and results*/
  .poster-card,
  .results-poster-card {
    width: 18rem;
  }
  .poster-title,
  .results-poster-title {
    font-size: 1.5rem;
  }

  /* Modal */
  .modal {
    overflow: auto;
  }
  .close {
    top: 80px;
    right: 30px;
    background-color: white;
    position: absolute;
  }
  .modal-body {
    margin: 20% auto;
  }
  .modal-content {
    flex-direction: column;
  }
  .modal-content img {
    width: 100%;
  }
  .list-group-item {
    font-size: 1.2rem;
  }
}

/* Large Phone */
@media (min-width: 600px) {
  /* Navbar */
  .navbar-nav-home {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
  }
  .navbar-nav-home.active {
    display: inline-block;
    width: 20rem;
    right: 0;
  }
  .navbar-nav-home.active a {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    font-size: 2.5rem;
    color: black;
  }
  /* Modal */
  .modal-body {
    margin: 20% auto;
  }
}

/* Medium */
@media (min-width: 768px) {
  /* Navbar */
  .navbar-nav-home {
    background-color: currentColor;
    position: static;
  }
  .hamburger-menu {
    display: none;
  }
}

/* Large */
@media (min-width: 1024px) {
  /* Navbar */
  .navbar-nav-home {
    background-color: currentColor;
    position: static;
  }
  /* Navbar */
  .hamburger-menu {
    display: none;
  }

  /* Modal */
  .modal-body {
    margin: 10% auto;
  }
}
